* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 80px;
  background: #f3e6df90;
  background-image: url(pattern-light-bg.svg);
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 80px;
}
.logo {
  font-size: 30px;
  padding-top: 50px;
  padding-left: 300px;
  background: #f3e6df90;
  background-image: url(pattern-light-bg.svg);
}
.button-one {
  background-color: #fff5ef;
  width: fit-content;
  padding: 15px 26px;
  border: 2px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  gap: 15px;
}

.left {
  max-width: 45%;
}
.description {
  margin-bottom: 30px;
  color: #555;
  font-size: 20px;
}
h1 {
  font-size: 62px;
  margin-bottom: 50px;

  background: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  font-weight: bold;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.member {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.avatar {
  width: 115px;
  height: 40px;
}
.first-img {
  width: 535px;

  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.second-img {
  width: 535px;

  border-radius: 10px;
  justify-content: left;
  display: flex;
  flex-direction: row;
}
h2 {
  font-size: 50px;
  color: #062630;
  margin: 20px 0px;
}
.check {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin: 10px;
  font-size: 20px;
  gap: 20px;
  color: #385159;
}
.container-two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 200px;
  padding-top: 80px;
}
.p-section3 {
  padding: 30px 0px;
  font-size: larger;
}
#section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3e6df90;
  background-image: url(pattern-light-bg.svg);
  margin: 120px;
  border-radius: 8px;
  padding-bottom: 100px;
  font-weight: bold;
}
.p-section4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  width: 220px;
  height: 110px;
  flex-direction: column;
  list-style: none;
}

h3 {
  border: 2px solid black;
  width: fit-content;
  padding: 10px;
  margin: 10px;
}
li div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 20px;
}

#table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.price{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#section5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

.table-price{
  padding: 20px;
  width: 290px;
  height: 320px;
  border: 1px solid #E6E1DF;
  border-radius: 10px;
}
.button{
  background-color: #fff5ef;
  margin: 20px 35px;
  border: 2px solid #000000;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding-left: 80px;
  padding-right: 50px;
  
  padding: 15px 10px;
}
h4{font-size: x-large;
margin-bottom: 20px;}
hr{margin: 10px;
border:1px solid #E6E1DF;}

.table-center{
  padding: 40px;
  width: 350px;
  margin: 20px;
  height: 360px;
  border: 1px solid #E6E1DF;
  border-radius: 10px;
  background-color: #FAF5F3;
  background-image: url(pattern-glow.svg);
  background-position: 40px left ;
}