* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section-one {
  display: flex;
  flex-direction: row;
  background-color: #FAF5F3;
}
h1 {
  background: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  background-clip: text;
  color: #00000000;
}
p1{color: #385159;}
